<style>
@page {
  size: A4;
}
#cover h1 {
    display : none;
}
.chapter {
  columns: 2 auto;
  column-gap: 2rem;
}

.chapter h1,
.chapter blockquote {
  column-span: all;
  display: block;
}
h1{
  break-before:page;
  color:rgb(108,104;255);
}
</style>