@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --font-family: "Roboto Slab", serif;
}

@page {
  size: A5;
  bleed: 6mm;
  marks: crop cross;
  margin-top: 20mm;
  margin-bottom: 25mm;
  margin-left: 15mm;
  margin-right: 15mm;
}

@page cover {
  color: black;
  font-weight: bold;
  font-size: 120%;
  background-size: cover;
}

img {
  max-width: 100%;
}

@page {
  @bottom-right {
    content: counter(page);
  }
}

@page {
  @bottom-center {
    content: string(title);
  }
}

@page {
  @top-center {
    content: string(booktitle);
  }
}

@page :first {
  .pagedjs_margin-content {
    display: none;
  }
}

section {
  break-before: page;
}

section#cover {
  page: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family), sans-serif;
  text-align: left;
}

#cover h1 {
  background-color: white;
  position: absolute;
  line-height: 2rem;
  padding: 2rem;
  width: 100%;
  right: calc(var(--pagedjs-margin-right) * -1);
  bottom: calc((var(--pagedjs-margin-bottom) * -1));
}

#cover h1:after {
  display: none;
}

.pagedjs_page_content {
  font-family: var(--font-family), serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: justify;
  text-align-last: left !important;
}

.pagedjs_pages .pagedjs_margin .pagedjs_margin-content {
  font-family: var(--font-family), serif;
  font-size: 0.8rem;
}
h1 {
  display: inline-block;
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  line-height: 1.8rem;
}

h1 {
  string-set: title content(text);
}

h1:after {
  content: "";
  display: block;
  height: 3px;
  width: 10mm;
  background-color: black;
  margin-top: 1rem;
}
