@page {
  size: A5;
}

@page cover {
  color: black;
  font-weight: bold;
  font-size: 120%;
  background-size: cover;
}

img {
  max-width: 100%;
}

@page {
  @bottom-right {
    content: counter(page);
  }
}

@page {
  @bottom-center {
    content: string(title);
  }
}

@page {
  @top-center {
    content: string(booktitle);
  }
}

@page :first {
  .pagedjs_margin-content {
    display: none;
  }
}



#cover h1 {
  background-color: white;
  position: absolute;
  line-height: 2rem;
  padding: 2rem;
  width: 100%;
  right: calc(var(--pagedjs-margin-right) * -1);
  bottom: calc((var(--pagedjs-margin-bottom) * -1));
}

#cover h1:after {
  display: none;
}


h1 {
  string-set: title content(text);
}

h1:after {
  content: "";
  display: block;
  height: 2px;
  width: 10mm;
  background-color: var(--heading-font-color);
  margin-top: 3mm;
}
