img[src*='#full'] {
  break-before: page;
  max-width : none;
  width : var(--pagedjs-width);
  height : var(--pagedjs-height); 
  margin-top: calc(-1 * var(--pagedjs-margin-top));
  margin-left: calc(-1 * var(--pagedjs-margin-left)); 
  object-fit: cover;
}

p:has(img[src*='#full']){
  margin : 0;
}